#mapValueEvolutionsList {
	column-count: 2;
	list-style: none;
}

#mapValueGiantsList {
	column-count: 2;
	list-style: none;
}

#mapValueSpawnRateList {
	column-count: 2;
	list-style: none;
}

th.sortable::after {
	content:"  ↕";
}
th.asc::after {
	content:" ↑" !important;
}
th.des::after {
	content:" ↓" !important;
}